@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap");

@import "tailwindcss";

@theme {
  --font-raleway: "Raleway", sans-serif;
  --font-rancho: "Rancho", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rancho", cursive;
}

p {
  font-family: "Raleway", sans-serif;
}
